<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title" style="color: #ff3636;">A propos</div>
              <p>Je m'appelle <strong>SORGHO Nongma Charles Gérard</strong>  .Je suis actuellement étudiant en deuxième année d'informatique à l'Université de Strasbourg.</p>

              <p>
                Je suis un amoureux des sciences, particulièrement de l'astronomie qui est ma seconde passion, après l'informatique.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title" style="color: #ff3636;">Moi</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date de naissance:</strong>
                </div>
                <div class="col-sm-8">03 Octobre 2001</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">sorghocharles8@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Téléphone:</strong>
                </div>
                <div class="col-sm-8">+33 0755203472</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Addresse:</strong>
                </div>
                <div class="col-sm-8">14 route de la Wantzenau, 67000 Strasbourg
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Langues parlées:</strong>
                </div>
                <div class="col-sm-8">Français, Anglais, Allemand</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>