<div class="section" id="about">
  <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                      <div class="h4 mt-0 title" style="color: #ff3636;">About Me</div>
                      <p>My name is <strong>Charles SORGHO</strong>. I am Full-Stack Engineer and Entrepreneur.</p>

                      <p>
                        With a passion for technology and innovation, I create seamless applications and embrace entrepreneurial challenges. I believe in teamwork, continuous learning, and making a positive impact. Let's shape the future together!
                      </p>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                      <div class="h4 mt-0 title" style="color: #ff3636;">Personal Information</div>
                      <div class="row">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Date of Birth:</strong>
                          </div>
                          <div class="col-sm-8">October 3, 2001</div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Email:</strong>
                          </div>
                          <a href="mailto:sorghocharles8@gmail.com" class="col-sm-8">
                            sorghocharles8@gmail.com
                          </a>
                      </div>
                      <div class="row mt-3">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Phone:</strong>
                          </div>
                          <a href="tel:+33780777845" class="col-sm-8">
                            +33 7 80 77 78 45
                          </a>
                      </div>
                      <div class="row mt-3">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Address:</strong>
                          </div>
                          <div class="col-sm-8">Strasbourg, France</div>
                      </div>
                      <div class="row mt-3">
                          <div class="col-sm-4">
                              <strong class="text-uppercase">Languages:</strong>
                          </div>
                          <div class="col-sm-8">French, English, German</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
