<div class="section" id="education">
  <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>

      <div class="card">
        <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-education-header">
                    <p>2023 - </p>
                    <div class="h5">Master of Science (M.S.)</div>
                </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                    <div class="h5">Software Science and Engineering (SSE)</div>
                    <h4 class="category">University of Strasbourg</h4>
                    Master's degree in Software Science and Engineering.
                </div>
            </div>
        </div>
    </div>

      <div class="card">
          <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                      <p>2019 - 2023</p>
                      <div class="h5">Bachelor of Science (B.S.)</div>
                  </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                      <div class="h5">Computer Science and Mathematics</div>
                      <h4 class="category">University of Strasbourg</h4>
                      <ul>
                        <li>Bachelor's degree in Mathematics and Computer Science with a focus on programming languages including Python, C, Haskell, Java, HTML, JavaScript, and CSS.</li>
                        <li>Graduated with Honours</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                      <p>2016 - 2019</p>
                      <div class="h5">High School</div>
                  </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                      <div class="h5">Bachelor of Science</div>
                      <h4 class="category">Juvénat Saint Camille Garçons</h4>
                      <ul>
                          <li>Bachelor of Science in Mathematics and Life Sciences with a Distinction (15.62/20 average).</li>
                          <li>Awarded first place in the Inter-school Mathematics Competition (APROMATH).</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                      <p>2012 - 2016</p>
                      <div class="h5">Middle School</div>
                  </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                      <div class="h5">Middle School Certificate</div>
                      <h4 class="category">Lycée Kouritta de Koupéla</h4>
                      <ul>
                          <li>Obtained Middle School Certificate with Honors (16.82/20 average).</li>
                          <li>Recognized on the televised program "Tableau d'Honneur" for being among the top twenty students over three consecutive years in the region.</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                      <p>2008 - 2012</p>
                      <div class="h5">Primary School</div>
                  </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                      <div class="h5">Primary School Certificate</div>
                      <h4 class="category">Ecole Sud de Koupéla</h4>
                      <ul>
                          <li>Received Primary School Certificate with Excellence (9.81/10 average).</li>
                          <li>Exempted from CM1 class due to outstanding performance.</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
