<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - </p>
              <div class="h5">Licence</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Licence d'informatique</div>
               <h4 class="category">Université de Strasbourg
               </h4>
               Licence de mathématique et d'informatique de l'Université de Strasbourg mention informatique.
               Initiation à Python, C, Haskell, Java, Html, Javascript, Css.
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2019</p>
              <div class="h5">Lycée</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Baccalauréat scientifique</div>
               <h4 class="category">Juvénat Saint Camille Garçons
               </h4>
               <ul>
                <li>Baccalauréat scientifique Mathématiques et Sciences de la Vie obtenu avec la mention Bien 15.62/20 de moyenne.
                </li>
                <li>Lauréat du Concours inter-établissement de mathématiques (APROMATH).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2016</p>
              <div class="h5">Collège</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Brevet d'Etudes du Premier Cycle</div>
               <h4 class="category">Lycée Kouritta de Koupéla
               </h4>
               <ul>
                <li>Brevet de fin du premier cycle mention Très Bien 16.82/20 de moyenne.
                </li>
               
                <li>
                  Lauréat de l'Emission télévisée Tableau d'Honneur. Cette émission met en avant vingt (20) élèves, les meilleurs, pris sur trois (03) années consécutives de leurs études, dans leur région.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2012</p>
              <div class="h5">Primaire</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Certificat d'Etudes Primaire</div>
               <h4 class="category">Ecole Sud de Koupéla
               </h4>
               <ul>
                <li>Certificat d'Etudes Primaire mention Excellent 9.81/10 de moyenne.
                </li>
               
                <li>
                    Exemption de la classe de CM1 pour performances surélevées.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>