<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projets</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p11.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">
            DontStealMyCode-DSMC-console-web-code-encrypter </h4>
          <h5 class="card-text"><b>Technologies :</b> Python, Flask, Bash, Heroku, Html, Javascript, Css</h5>
          <a href="https://github.com/Atepir/DontStealMyCode-DSMC-console-web-code-encrypter" class="btn btn-danger stretched-link">Voir sur Github</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/p2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Near Orbital Guard</h4>
           <h5 class="card-text"><b>Technologies :</b> Java, JavaFX</h5>
          <a href="https://github.com/Atepir/Near-Orbital-Guard" class="btn btn-danger stretched-link">Voir sur Github</a>
        </div>
    </div>
    </div>
  </div>
          
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p3.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Adduction en Eau Potable</h4>
           <h5 class="card-text"><b>Technologies :</b> Python, SQLite3 </h5>
          <a href="https://github.com/Atepir/AEP" class="btn btn-danger stretched-link">Voir sur Github</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">AsciimojisFor0ad</h4>
          <h5 class="card-text"><b>Technologies :</b> Javascript, Makefile</h5>
          <a href="https://github.com/Atepir/AsciimojisFor0ad" class="btn btn-danger stretched-link">Voir sur Github</a>
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Plague py.</h4>
           <h5 class="card-text"><b>Technologies :</b> Python</h5>
          <a href="https://github.com/Atepir/plague.py" class="btn btn-danger stretched-link">Voir sur Github</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/p6.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">ClicMaster</h4>
           <h5 class="card-text"><b>Technologies :</b> PhP, Html, Javascript, Css</h5>
          <a href="https://github.com/Atepir/clicmaster" class="btn btn-danger stretched-link">Voir sur Github</a>
        </div>
        </div>
        </div>
        </div>
    
    </div>
    </div>
  </div>