<div class="profile-page">
  <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
          </div>
          <div class="container">
              <div class="content-center">
                  <div class="cc-profile-image">
                      <a href="#">
                          <img src="assets/images/me.jpg" alt="Image" />
                      </a>
                  </div>
                  <div class="h2 title">Charles SORGHO</div>
                  <p class="category text-white">Software Engineer Apprentice and Entrepreneur.</p>
                  <p><span>University of Strasbourg<b></b>Omnicell</span></p>
                  <a class="btn btn-danger"
                      href="https://drive.google.com/file/d/1W10uS44hD1F4xWThZexsyBXm-7365kL_/view?usp=sharing"
                      target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Curriculum Vitae</a>
              </div>
          </div>
      <div class="section">
          <div class="container">
              <div class="button-container">
                  <a class="btn btn-danger btn-round btn-lg btn-icon" href="https://omnicell.com"
                      target="_blank" rel="tooltip" title="Visit Omnicell">
                      <i class="fa fa-heart"></i>
                  </a>
                  <a class="btn btn-danger btn-round btn-lg btn-icon" href="https://soucheit.com"
                      target="_blank" rel="tooltip" title="Get a quotation on Souche">
                      <i class="fa fa-link"></i>
                  </a>
                  <a class="btn btn-danger btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/charles-sorgho/"
                      target="_blank" rel="tooltip" title="Follow me on LinkedIn">
                      <i class="fa fa-linkedin"></i>
                  </a>
                  <a class="btn btn-danger btn-round btn-lg btn-icon" href="https://github.com/Atepir"
                      target="_blank" rel="tooltip" title="Follow me on Github">
                      <i class="fa fa-github"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
